:root {
  --primary-color: #59FFBF;
  --secondary-color: #FF7B9C;
  --accent1-color: #607196;
  --accent2-color: #BABFD1;
  --heading-font: "Roboto", sans-serif;
  --body-font: "Open Sans", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Open Sans", sans-serif;
  color: #607196;
}

 header, main, footer {
  width: 840px;
  margin: 0 auto;
}


h1, h2 {
  font-family: "Roboto", sans-serif;
  color: #59FFBF;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  } 

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: #607196;
  color: #fff; 
}

.hero article img {
  float: right;
  margin: 125px;
}




